.page {
  width: 100%;
  min-height: 100vh;
  color: #ffffff;
  background: #436A9D;
}
.page h1 {
  font-size: 3.75em;
  font-family: var(--font-prosto-one);
}
.contacts h1 {
  font-size: 3.75em;
  font-weight: 300;
  font-family: var(--font-roboto);
}

.contacts {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.main {
  display: flex;
  justify-content: space-evenly;
}

.article {
    font-family: var(--font-roboto);
    display: flex;
    flex-direction: column;
    gap:10px;
}

.article h2 {
    font-weight: 500;
    font-size: 1.875em;
}

.article p {
    font-weight: 300;
    font-size: 1.5em;
}

.feedbackBlock {
    margin-top:5vh;
}