.page {
  background-image: url("/home_page_bg_cuted.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.main {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 129px);
  display: flex;
}

.article {
  display: flex;
  flex-direction: column;
  width: 906px;
  background: rgba(2, 33, 74, 0.6);
  backdrop-filter: blur(15.8px);
  font-family: var(--font-roboto);
  color: white;
  padding-left: 3.125em;
  padding-top: 4em;
  padding-bottom: 5em;
  padding-right: 3.125em;
  gap: 1.875em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15vw;
}

.article h2 {
  font-weight: 400;
  font-family: var(--font-prosto-one);
  font-size: 3.4em;
}

.article h3 {
  font-size: 2.5em;
  font-weight: 300;
  margin-left: 0.625em;
}

.article ul {
  font-weight: 200;
  font-size: 1.875em;
  margin-left: 2.5em;
}

@media (max-width: 1220px) {
  .article {
    margin-left: 0px;
  }
}

@media (max-width: 920px) {
  .article {
    font-size: 10px;
    width: fit-content;
  }
  .article h3 {
    max-width: 520px;
  }
  .article li {
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .article h2 {
    font-size: 2.5em;
    width: fit-content;
  }
}

@media (max-width: 450px) {
  .article {
    padding: 1em;
    align-items: center;
  }
  .article h2 {
    text-align: center;
    margin-left: 0;
  }
  .article h3 {
    text-align: center;
    margin-left: 0;
  }
  .article li {
    margin-left: 0;
  }
}
